[submodule "xmos_cmake_toolchain"]
	path = xmos_cmake_toolchain
	url = git@github.com:xmos/xmos_cmake_toolchain.git
[submodule "modules/core"]
	path = modules/core
	url = git@github.com:xmos/fwk_core.git
[submodule "modules/io"]
	path = modules/io
	url = git@github.com:xmos/fwk_io.git
[submodule "modules/rtos"]
	path = modules/rtos
	url = git@github.com:xmos/fwk_rtos.git
[submodule "modules/sample_rate_conversion/lib_src"]
	path = modules/sample_rate_conversion/lib_src
	url = git@github.com:xmos/lib_src.git
[submodule "modules/voice"]
	path = modules/voice
	url = git@github.com:xmos/fwk_voice.git
[submodule "modules/xscope_fileio"]
	path = modules/xscope_fileio/xscope_fileio
	url = git@github.com:xmos/xscope_fileio.git
[submodule "modules/inferencing/lib_nn"]
	path = modules/inferencing/lib_nn
	url = git@github.com:xmos/lib_nn.git
[submodule "modules/lib_qspi_fast_read"]
	path = modules/lib_qspi_fast_read
	url = git@github.com:xmos/lib_qspi_fast_read.git
[submodule "modules/inferencing/lib_tflite_micro"]
	path = modules/inferencing/lib_tflite_micro
	url = git@github.com:xmos/lib_tflite_micro.git
	ignore = dirty
[submodule "modules/xua"]
	path = modules/xua
	url = git@github.com:xmos/lib_xua.git
